<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='css/index_style.css')}}">
    </head>
    <body>
        <h2 style="text-align: center;"> DONGKAM STORY</h2>
        {% if name != 'None' %}
        <h2  style="text-align: center; margin: auto";> {{name}} WELCOME!</h2><br>
        <div class="menu"> 
            <div class="submenu"> <a href="{{url_for('showpage')}}">STORY</a></div>
            <div class="submenu"> <a href="{{url_for('logout')}}">Logout</a></div>
            <div class="submenu"> <a href="{{url_for('mypage')}}">My Page</a></div>
        </div>
        {% else %}
        <div class="menu"> 
            <div class="submenu"> <a href="{{url_for('showpage')}}">STORY</a></div>
            <div class="submenu"> <a href="{{url_for('login')}}">Login</a></div>
            <div class="submenu"> <a href="{{url_for('mypage')}}">My Page</a></div>
            <div class="submenu"><a href="{{url_for('signup')}}">Sign up</a></div>
        </div>
        {% endif %}
    </body>
</html>