<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='css/showpage.css')}}">
    </head>
    <body>
        <h2 style="text-align: center;"> DONGKAM STORY</h2>
        {% if name != 'None' %}
        <h2  style="text-align: center; margin: auto";> 😁&nbsp;{{name}} WELCOME!&nbsp;😁</h2><br>
        <div class="menu"> 
            <div class="submenu"> <a href="{{url_for('showpage')}}">STORY</a></div>
            <div class="submenu"> <a href="{{url_for('logout')}}">Logout</a></div>
            <div class="submenu"> <a href="{{url_for('mypage')}}">My Page</a></div>
            <div class="submenu"> <a href="{{url_for('write')}}">Write</a></div>
        </div>
        {% else %}
        <div class="menu"> 
            <div class="submenu"> <a href="{{url_for('showpage')}}" >STORY</a></div>
            <div class="submenu"> <a href="{{url_for('login')}}">Login</a></div>
            <div class="submenu"> <a href="{{url_for('mypage')}}">My Page</a></div>
            <div class="submenu"><a href="{{url_for('signup')}}">Sign up</a></div>
        </div>
        {% endif %}
        {% for post in posts %}
        <h4 style="text-align: center ;"><a href="./posts/{{post[3]}}" style="text-decoration-line: none;">[{{post[0]}}]&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;{{post[2]}}</h4>
        {% endfor %}
    </body>
</html>