<html>
    <head>
        <body style="text-align: center;" >
            <h2 style="margin-top: 60px;">POSTING UPDATE</h2><br>
            <form action="/save" method="POST">
            <input name="title" type="text" placeholder="ENTER TITLE" style="width: 200px; margin-top: 20px;" value={{post[0]}}><br>
            <input name="detail" type="textarea" placeholder="ENTER DETAIL" style="margin-top: 30px; width: 300px; height: 200px;" value={{post[1]}}><br>
            <input name="id" type="hidden" value={{post[2]}}>
            <input name="post_num" type="hidden" value={{post[3]}}>
            <input type="submit" value="POST" style="margin-top: 30px;">
            </form>
            <br>
            <br>    
            <form action="/">
                <input type="submit" value="BACK TO HOME">
            </form>
        </body>
    </head>
</html>