<html>
    <head>
        <body style="text-align: center;" >
            <h2 style="margin-top: 60px;">POSTING</h2><br>
            <form action="" method="POST">
            <input name="title" type="text" placeholder="ENTER TITLE" style="width: 200px; margin-top: 20px;"><br>
            <input name="detail" type="textarea" placeholder="ENTER DETAIL" style="margin-top: 30px;"><br>
            <input name="id" type="hidden" value={{id}}>
            <input type="submit" value="POST" style="margin-top: 30px;">
            </form>
            <br>
            <br>    
            <form action="/">
                <input type="submit" value="BACK TO HOME">
            </form>
        </body>
    </head>
</html>